    <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container-fluid"> <!--Container for Footer content-->
            <div class="footerbtns"> <!--Footer Buttons-->
              <a href="/home"><button class="btn btn-sm btn-secondary md-1"><i class="fa-solid fa-lg fa-house"></i> Home</button></a> <!--Home button-->
              <a href="/about"><button class="btn btn-sm btn-secondary md-1"><i class="fa-solid fa-lg fa-circle-info"></i> About Me</button></a> <!--About Me button-->
              <a href="/Recipes"><button class="btn btn-sm btn-secondary md-1"><i class="fa-solid fa-lg fa-book"></i> Recipes</button></a> <!--Projects button-->
              <a href="/contactus"><button class="btn btn-sm btn-secondary md-1"><i class="fa-solid fa-lg fa-phone"></i> Contact Me</button></a> <!--Contact Me button-->
            </div>
        <h6 class="navbar-text">&copy; Copyright 2025. All rights reserved</h6> <!--Copyright Statment-->
      </nav>
    </footer>
    <script src="/Script/app.js"></script> <!--The css file-->
  </body>
</html>