<%-include ./partials/header.ejs %> <!--The Header-->
<%-include ./partials/main_nav.ejs %> <!--Main navigation-->

    <h1 class="hometitle">Welcome!</h1> <!--title page-->
    <!--Card-->
    <div class="card mb-3" style="max-width: 600px;">
  <div class="row g-0">
    <!--Image in the card-->
    <div class="col-md-4">
      <img src="/Asset/images/Hello.png" class="img-fluid rounded-start" alt="homeimage">
    </div>
    <!--Introduction text-->
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Welcome to the Recipe Manager!</h5>
        <p class="card-text">Welcome to Recipe Manager! Browse, add, edit, and customize your favorite recipes with ease.<br>
            Visit the About Me page to learn more, check out the Recipes page for some recipes, and feel free to reach out through the Contact Me page.
        </p>
      </div>
    </div>
  </div>
  </div>
  <!--more cards-->
  <div class="container mt-4">
  <div class="row text-center">

    <!--Card 1-->
    <div class="col-md-4">
      <div class="card mx-auto" style="width: 20rem;">
        <img src="/Asset/images/neverlose.png" class="card-img-top" alt="pic1"> <!--image-->
        <div class="card-body">
          <h5 class="card-title">Never Lose a Recipe</h5> <!--card title-->
          <p class="card-text">Save all your recipes in one organized place.</p> <!--card text-->
        </div>
      </div>
    </div>

    <!--Card 2-->
    <div class="col-md-4">
      <div class="card mx-auto" style="width: 20rem;">
        <img src="/Asset/images/editrecipe.png" class="card-img-top" alt="pic2"> <!--image-->
        <div class="card-body">
          <h5 class="card-title">Edit Anytime</h5> <!--card title-->
          <p class="card-text">Quickly update ingredients or instructions as you improve your dishes.</p> <!--card text-->
        </div>
      </div>
    </div>

    <!--Card 3-->
    <div class="col-md-4">
      <div class="card mx-auto" style="width: 20rem;">
        <img src="/Asset/images/organized.png" class="card-img-top" alt="pic3"> <!--image-->
        <div class="card-body">
          <h5 class="card-title">Stay Organized</h5> <!--card title-->
          <p class="card-text">Categorize meals: breakfast, lunch, dinner, snacks, and more!</p> <!--card text-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--button-->
<div class="text-center mt-4">
  <a href="/recipes" class="btn btn-primary btn-lg">Click Here to Get Started!</a>
</div>
<br><br><br><br> <!--breaks at the bottom-->
<%-include ./partials/footer.ejs %> <!--The footer-->