
.hometitle
{
    text-align: center;
    margin-top: 50px;
}

h1
{
    text-align: center;
}

.paracontact
{
    text-align: center;
}

.abouttile
{
    text-align: center;
    margin-top: 100px;
}

.card
{
    text-align: center;
    margin-left: 450px;

}