
.hometitle
{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

h1
{
    text-align: center;
}

.paracontact
{
    text-align: center;
}

.abouttile
{
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
}

.recipetitle
{
    font-weight: bold;
}

.contactTitle
{
    font-weight: bold;
}

.card
{
    text-align: center;
    margin-left: 450px;
}

.paraaboutme
{
    text-align: center;
    font-weight: bold;
}